@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Roboto&display=swap');

$pc: 1480px; // Пкб ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // телефоны L
$mobileSmall: 479.98px; // телефоны s

.page_404 {
    width: 100%;
    height: 100vh;
    padding: 220px 0 0 0;
    overflow: hidden;
    background: white;
    background-image: url(../../../public/images/space.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    animation: disapear .5s linear;
    animation-fill-mode: forwards;
    animation-delay: 5.6s;


    .page_404_headtitle {
      position: relative;
      margin-top: 90px;
        font-size: 20px;
        color: white;
        animation: apear .5s linear;
        animation-fill-mode: forwards;
        animation-delay: .3s;
        transform: scale(0);
          @media (max-width: $mobile) {
            top: 7%;
            font-size: 16px;
          }
          @media (max-width: $mobileSmall) {
            font-size: 16px;
          }

        &:nth-child(2) {
            margin: 10px;
            font-size: 50px;
            font-family: 'Creepster', cursive;
              @media (max-width: $mobile) {
                font-size: 40px;
              }
              @media (max-width: $mobileSmall) {
                font-size: 30.5px;
              }
        }

        @keyframes apear {
            0% {
                transform: scale(0);
            }
            50% {
                transform: scale(1.5);
            }
            100% {
                transform: scale(1);
            }
        }
    }
}