@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.statistics_404 {
    width: 100%;
    min-height: 100vh;
    padding: 220px 0 0 0;
    overflow: hidden;
    background: white;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    align-items: center;

    .statistics_headtitle {
        font-size: 20px;

        &:nth-child(2) {
            margin: 10px;
            font-size: 50px;
        }
    }
}

.statistics {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: white;
}