@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$mainBG: #fff;
$white: #F6F7FF;
$mainPurple: #4E54C8;

.register {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background-color: $mainBG;

    font-family: 'Roboto', sans-serif;
}

.registerBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-top: 150px;

}

.registerBlock h3 {
    font-size: 44px;
    margin-bottom: 10px;
}

.welcome {
    color: #7e7e7e;
    padding-bottom: 10px;
    font-size: 16px;
}

.email {
    margin-top: 20px;

    font-family: 'Source Sans 3', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: $mainPurple;
}

.email input,
.password input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;

    width: 400px;
    font-size: 20px;

    border: 1px solid #d6d9ee;
    outline: 0;
    border-radius: 4px;
}

.email input::placeholder,
.password input::placeholder {
    font-size: 16px;
}

.email input:focus,
.password input:focus {
    border: 1px solid $mainPurple;
}

.password {
    margin-top: 15px;

    font-family: 'Source Sans 3', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: $mainPurple;
    position: relative;
}

.eye {
    position: absolute;
    width: 30px;
    right: 10px;
    top: 48px;
    z-index: 999999;

    cursor: pointer;
}

.forgotPassword {
    width: 400px;

    display: flex;
    justify-content: end;

    text-decoration: none;
    color: $mainPurple;

    font-size: 16px;
}

.signUp {
    width: 400px;
    height: 45px;

    border: 0;
    outline: 0;

    background-color: $mainPurple;
    border-radius: 8px;

    font-size: 20px;
    color: $white;

    cursor: pointer;

}

.signUp:hover {
    background-color: #474dbd;
}

.loginIn {
    width: 300px;

    color: #7e7e7e;

    margin-top: 15px;
    font-size: 16px;
    text-align: center;
}

.loginIn a {
    text-decoration: none;
    color: $mainPurple;
}

.forgotPassword:hover,
.loginIn a:hover {
    text-decoration: underline;
}

.authError {
    color: red;
}

.logoBlock {
    background-color: $white;

    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.around {
    width: 200px;
    height: 200px;

    background-color: $mainPurple;

    border-radius: 50%;

    position: relative;
}

.around p {
    position: absolute;

    top: 60px;
    right: 34px;

    color: $white;
    font-size: 24px;
    text-transform: uppercase;
}

.filter {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: -240px;

    width: 500px;
    height: 300px;

    background-color: #efeffc09;
    backdrop-filter: blur(40px);
}

@media(max-width: 1100px) {
    .register {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90vh;
    }

    .registerBlock {
        order: 2;
        margin: 0;
        padding: 0;

    }

    .registerBlock h3 {
        font-size: 34px;
    }

    .welcome {
        font-size: 14px;
    }

    .email {
        margin-top: 10px;
        font-size: 20px;

    }

    .email input,
    .password input {
        padding: 6px;

        width: 300px;
        font-size: 18px;
    }

    .email input::placeholder,
    .password input::placeholder {
        font-size: 14px;
    }

    .password {
        margin-top: 10px;
        font-size: 20px;

    }

    .eye {
        width: 25px;
        right: 10px;
        top: 40.5px;
        filter: brightness(1.2) grayscale(100%);
    }

    .forgotPassword {
        width: 300px;
        font-size: 14px;
    }

    .signUp {
        width: 300px;
        font-size: 18px;

    }

    .loginIn {
        font-size: 14px;
    }


    .logoBlock {
        background-color: $mainBG;

        padding: 0;

        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        display: none;
    }

    .around {
        width: 100px;
        height: 100px;

        margin-top: 40px;
    }

    .around p {
        top: 35px;
        right: 8px;
        font-size: 15px;
    }

    .filter {
        top: 60%;
        left: -80px;

        width: 250px;
        height: 80px;

        background-color: #ffffff06;
        backdrop-filter: blur(20px);
    }

}

@media(max-width: 470px) {
    .registerBlock h3 {
        font-size: 30px;
    }

    .welcome {
        font-size: 12px;
    }
}