@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.register {
    width: 100%;
    height: 100vh;
    padding: 30px 0 0 0;
    // background: rgba(255, 255, 255, 0.5);
    transition: .5s;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    .register__label {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .label_checkbox {
            appearance: none;
        }

        .label_checkbox:checked ~ .label_navigator .register_item {
            transform: translateX(99px);
        }
    
        .label_navigator {
            position: relative;
            margin-top: 10px;
            width: 150px;
            height: 30px;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(5px);
            border-top: solid 1px rgba(255, 255, 255, 0.651);
            border-left: solid 1px rgba(255, 255, 255, 0.651);
            border-radius: 3px;
            padding: 0 5px;
            display: flex;
            align-items: center;

            .register_item {
                position: absolute;
                width: 40px;
                height: 20px;
                background: black;
                box-shadow: inset 0 0 5px rgb(136, 134, 134);
                border-radius: 3px;
                transition: 1s;
                z-index: 1;
            }

            .label_icon_active {
                transform: rotate(180deg);
            }

            .label_icon {
                position: relative;
                left: 30%;
                font-size: 20px;
                color: white;
                transition: .5s;
                opacity: .5;
                animation: move 2s linear infinite;
                transition: .5s ease-in-out;

                @keyframes move {
                    0% {
                        left: 26%;
                        opacity: .5;
                    }
                    50% {
                        left: 35%;
                        filter: drop-shadow(0 0 10px white);
                        opacity: 1;
                    }
                    100% {
                        left: 26%;
                        opacity: .5;
                    }
                }
            }
        }
    }

    .register_card {
        position: relative;
        top: 10px;
        width: 400px;
        height: 450px;
        border-radius: 3px;
        // overflow: hidden;
        transform-style: preserve-3d;
    }

    .register_face {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 1.5s ease-in-out;
        backface-visibility: hidden;
        transform: perspective(500px) rotateX(0deg);
    }

    .register_front {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        border-top: solid 1px rgba(255, 255, 255, 0.651);
        border-left: solid 1px rgba(255, 255, 255, 0.651);
    }

    .label_active_front {
        // transform: perspective(500px) rotateZ(180deg);
        z-index: -1;
        opacity: 0;
        transition: 1.5s ease-in-out;
    }

    .register_back {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        border-top: solid 1px rgba(255, 255, 255, 0.651);
        border-left: solid 1px rgba(255, 255, 255, 0.651);
        transform: perspective(500px) rotateY(0deg);
    }

    .label_active_back {
        // transform: perspective(500px) rotateZ(-180deg);
        z-index: -1;
        opacity: 0;
        transition: 1.5s ease-in-out;
    }
}