.profil {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;

    .profil__section {
        &:nth-child(1) {
            width: 40%;

            .section_block {
                width: 100%;
                height: 500px;
                border-radius: 5px;
                overflow: hidden;
                box-shadow: 0 0 5px black;

                .block_img {
                    width: 100%;
                    height: 40%;
                }

                .block_name {
                    font-size: 25px;
                    margin: 10px 0 10px 0;
                }

                .block_info {
                    font-size: 14px;
                    margin: 10px 0 0 0;
                }

                .block_button {
                    width: 80%;
                    height: 45px;
                    border-radius: 5px;
                    background: rgb(0, 153, 255);
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                    margin: 100px auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: .5s;

                    &:hover {
                        background: rgba(0, 102, 255, 0.993);
                    }
                }
            }
        }
        
        &:nth-child(2) {
            width: 58.5%;

            .section_block {
                width: 100%;
                height: 245px;
                box-shadow: 0 0 5px black;
                border-radius: 5px;
                margin: 0 0 10px 10px;
                overflow: hidden;
                
                &:nth-child(1) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .block_info {
                        font-size: 42px;
                        margin: 5px 0 20px 0;
                    }

                    .block_buttons {
                        display: flex;
                        justify-content: space-between;

                        .block_button {
                            width: 200px;
                            height: 45px;
                            border: none;
                            border-radius: 5px;
                            background: rgb(0, 153, 255);        
                            color: white;
                            font-weight: bold;
                            margin: 0 2px 0 2px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: .5s;

                            &:hover {
                                background: rgba(0, 102, 255, 0.993);
                            }
                        }
                    }
                }
            }
        }
    }
}