@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.profile {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: white;
    font-family: 'Roboto', sans-serif;
}