@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$pc: 1480px; // Пкб ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // телефоны L
$mobileSmall: 479.98px; // телефоны s

.profile {
    width: 100%;
    min-height: 100vh;
    padding: 70px 0 0 0;
    overflow: hidden;
    background: white;
    font-family: 'Roboto', sans-serif;

    .profile_menu {
        position: fixed;
        right: 0;
        width: 90px;
        background: black;
        border-bottom-left-radius: 20px;
        float: right;
        animation: apear 1s linear;
        animation-fill-mode: forwards;
        animation-delay: .5s;
        z-index: 2;
          @media (max-width: $pc) {
             width: 70px;
          }
          @media (max-width: $tablet) {
             background: rgb(221, 218, 218);
          }

        .menu_items {
            display: flex;
            justify-content: center;

            .menu_items_icon {
                position: relative;
                top: -12px;
                color: white;
                margin-top: 22px;
                font-size: 22px;
                  @media (max-width: $tablet) {
                    svg {
                      fill: black;
                      stroke: black;
                    }
                  }

                &:hover {
                    color: aqua;
                }
            }

            .icon_active {
                color: aqua;
            }
        }
    }
}