@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$pc: 1480px; // Пкб ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // телефоны L
$mobileSmall: 479.98px; // телефоны s

@mixin adaptive-value($property, $startSize, $minSize) {
  $addSize: $startSize - $minSize;
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$pc - 320}))
  }

.main {
    width: 100%;
    padding: 0 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
    display: flex;
    flex-direction: column;
      @media (max-width: $tablet) {
        align-items: center;
      }
      @media (max-width: $mobile) {
      }
      @media (max-width: $mobileSmall) {
        margin-top: 3%;
      }

     .main__block {
      display: flex;
      justify-content: space-between;
      margin-top: 90px;
      width: 100%;
      @media (max-width: $tablet) {
        flex-direction: column;
        align-items: center;
      }
     }
     .main__info {
      width: 30%;
      @media (max-width: $pc) {
        width: 40%;
      }
      @media (max-width: $tablet) {
        width: 70%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;

      }
     }

    .main__title {
        margin-top: 8%;
        font-size: 20px;
        font-weight: bold;
        border-bottom: solid 5px white;
        height: 55px;
          @media (max-width: $tablet) {
            padding-bottom: 8%;
            text-align: center;
          }
            @media (max-width: $mobileSmall) {
              margin-top: 13%;
              font-size: 16px;
              width: 300px;
              height: 45px;
            }
    }

    .main__headtitle {
        font-size: 50px;
        margin: 20px 0 0 0;
          @media (max-width: $tablet) {
            font-size: 40px;
            text-align: center;
          }
          @media (max-width: $mobile) {
            font-size: 30px;
          }
            @media (max-width: $mobileSmall) {
              font-size: 25px;
            }
    }

    .main__description {
        margin: 20px 0px 20px 0px;
          @media (max-width: $tablet) {
            text-align: center;
          }
           @media (max-width: $mobileSmall) {
              width: 320px;
            }

        .main__des_in {
            color: white;
            background: rgb(146, 128, 26);
            border-radius: 3px;
            margin: 0 5px 0 5px;
        }
    }

    .main__button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 10px;
        width: 350px;
        height: 45px;
        font-weight: bold;
        border: none;
        background: linear-gradient(to left, rgb(132, 0, 255), rgb(2, 162, 255));
        border-radius: 30px;
        color: white;
        font-size: 16px;
        overflow: hidden;
        text-decoration: none;
        z-index: 0;
          @media (max-width: $tablet) {
            z-index: 1;
          }
           @media (max-width: $mobileSmall) {
               z-index: 0;
               width: 300px;
            }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0%;
            background: linear-gradient(to left, rgb(60, 0, 128), rgba(0, 89, 255, 0.5));
            transition: .5s;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            z-index: -1;
        }

        &:hover::before {
            height: 180%;
        }
    }

    .main__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: $pc) {
          top: 50px;
        }
        @media (max-width: $tablet) {
          top: 150px;
        }
            @media (max-width: $mobileSmall) {
              top: 50px;
            }
            @media (max-width: $mobile) {
              padding-top: 30px;
            }

        .scroll_icon {
            position: relative;
            top: 0px;
            font-size: 45px;
            animation: anime 2s linear infinite;
        }
    }

    @keyframes anime {
        0% {
            top: 20px;
            filter: drop-shadow(0 0 0px white);
        }
        50% {
            top: 55px;
            filter: drop-shadow(0 0 10px white);
            color: aqua;
        }
        100% {
            top: 20px;
            filter: drop-shadow(0 0 0px white);
        }
    }
}