.home {
    padding: 0 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home__headtitle {
        color: rgba(0, 0, 0, 0.7);
    }

    .home__button {
        width: 253px;
        height: 54px;
        margin-top: 30px;
        border-radius: 5px;
        background: rgb(0, 153, 255);
        text-decoration: none;
        color: white;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s;

        &:hover {
            background: rgba(0, 102, 255, 0.993);
        }
    }

    .home__section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .section_img {
            width: 500px;
            height: 300px;
            margin-top: 30px;
        }

        .section_info {
            margin-top: 10px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .section_info_block {
                position: relative;
                width: 300px;
                height: 200px;
                background: rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(5px);
                box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
                border-top: solid 1px rgba(100, 100, 100, 0.651);
                border-left: solid 1px rgba(100, 100, 100, 0.651);
                border-radius: 10px;
                margin: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                transition: .5s;
                overflow: hidden;

                &:hover .block_subtitle {
                    opacity: 1;
                }

                &:hover .block_icon,
                &:hover .block_title {
                    opacity: 0;
                }

                .block_icon {
                    font-size: 50px;
                    margin: 50px 0 15px 0;
                    transition: .5s;
                }

                .block_subtitle {
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    position: absolute;
                    top: 25%;
                    text-align: center;
                    width: 90%;
                    transition: .5s;
                }
            }
        }
    }
}