@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$pc: 1480px; // Пкб ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // телефоны L
$mobileSmall: 479.98px; // телефоны s

.wallet {
    width: 100%;
    min-height: 95vh;
    overflow: hidden;
    background: white;
    font-family: 'Roboto', sans-serif;
    padding: 15px 70px 0 15px;
    @media (max-width: 900px) {
        padding: 20px 85px 0 15px;
    }
    @media (max-width: $mobileSmall) {
        padding: 15px;
    }


    .wallet_headtitle {
        font-size: 18px;
        @media (max-width: 900px) {
            text-align: center;
        }
        @media (max-width: 414px) {
            font-size: 16px;
        }
    }

    .wallet_cards {
        width: 100%;
        min-height: inherit;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .cards_card {
            width: 250px;
            height: 300px;
            border-top: solid 6px rgba(0, 0, 0, 0.836);
            border-bottom: solid 6px rgba(0, 0, 0, 0.836);
            border-radius: 5px;
            margin: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: .5s;
            background: white;
            box-shadow: 0 0 5px black;
            @media (max-width: $mobileSmall) {
                width: 100%;
                margin: 15px 0 0 0;
            }

            &:hover {
                transform: translateY(-20px) scale(1.05);
                @media (max-width: 479px) {
                    transform: translateY(0px) scale(1);
                }
            }

            .card_section {
                width: 100%;
                padding: 25px 0 0 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .card_logo {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    box-shadow: 0 0 5px rgb(0, 0, 0);
                }

                .card_title {
                    width: 100%;
                    font-size: 18px;
                    padding: 0 0 0 10px;

                    .card_titleinner {
                        font-weight: 100;
                        font-size: 15px;
                    }
                }
            }

            .card_walletNum {
                width: 100%;
                height: 35px;
                margin: 15px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: inset 0 0 5px black;
            }

            .card_minmaxBox {
                width: 100%;
                padding: 0 20px 0 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .card_title {
                    font-size: 14px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .card_num {
                        margin: 5px 0 0 0;
                        font-weight: bold;
                    }
                }
            }

                .card_button1 {
                    background: none;
                    border: none;
                    color: white;
                    font-size: 16px;
                    font-weight: bold;
                    position: relative;
                    margin: 50px 0 0 0;
                    width: 80%;
                    height: 35px;
                    background: linear-gradient(to left, rgb(60, 0, 128), rgba(0, 89, 255, 0.5));
                    border-radius: 30px;
                    overflow: hidden;
                    text-decoration: none;
                    box-shadow: 0 0 5px black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 0;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 0%;
                        background: linear-gradient(to left, rgba(0, 89, 255, 0.5), rgb(60, 0, 128));
                        transition: .5s;
                        border-bottom-left-radius: 50%;
                        border-bottom-right-radius: 50%;
                        z-index: -1;
                    }

                    &:hover::before {
                        height: 180%;
                    }
                }

                .button_false {
                    background: red;
                    cursor: not-allowed;

                    &::before {
                        background: rgb(163, 6, 6);
                    }
                }
        }
    }
}