@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

$mainBG: #fff;
$white: #F6F7FF;
$mainPurple: #4E54C8;
$blockPurple: #7674e2;

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 100vh;
    width: 100%;

    background-color: $mainBG;

    font-family: 'Roboto', sans-serif;
}

.aboutShell {
    width: 1360px;
    font-size: 20px;

    padding: 55px;

    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;

}

.bigText {
    width: 100%;
    margin: 10px;

    margin-top: 30px;

    display: flex;
    justify-content: center;

    font-size: 30px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: $mainPurple;
}

.link {
    color: $mainPurple;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

.list {
    list-style: decimal;
    margin-left: 50px;
    margin-top: 5px;
    font-size: 18px;
    line-height: 25px;
}

@media(max-width: 1360px) {
    .aboutShell {
        width: 100%;
        padding-top: 85px;
    }
}

@media(max-width: 900px) {
    .aboutShell {
        padding-top: 85px;
        font-size: 18px;
    }
    .bigText {
        font-size: 26px;
    }

    .list {
        font-size: 16px;
    }
}

@media(max-width: 600px) {
    .aboutShell {
        font-size: 16px;

    }
    .bigText {
        font-size: 24px;
    }

    .list {
        margin-left: 20px;
        font-size: 14px;
    }
}