@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0px 50px;
    font-family: 'Roboto', sans-serif;

    .header__logo {
        width: 150px;
        height: 40px;
    }

    .header__section {
        width: 550px;
        display: inherit;
        justify-content: inherit;

        .section__title {
            font-size: 16px;
            text-decoration: none;
            color: white;
            font-weight: bold;
        }
    }
}