@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');

.header {
    grid-area: header;

    display: flex;
    align-items: center;
    justify-content: space-around;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999999;

    background-color: #fff;
    border-bottom: 1px solid #E8E9F2;
    height: 90px;
}

.logoText {
    text-decoration: none;
}

.logoText span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 110%;
    font-size: 44px;
}

.logoText span:nth-child(1) {
    color: #4E54C8;
}

.logoText span:nth-child(2) {
    color: #373737;
}

.headerButtons {
    display: flex;
}

.headerButtons a {
    color: #373737;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;

    margin-left: 40px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .2s ease-in-out;

    height: 90px;
    width: 120px;

}

.headerButtons a:hover {
    background-color: #efeff2;

}

.goProfile {
    display: flex;
    align-items: center;

    border-radius: 30px;
    border: 1px solid #4E54C8;

    cursor: pointer;
    transition: background .2s ease-in-out;

    padding: 13px 20px;
}

.goProfile img {
    width: 25px;
}

.signUp {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 123px;
    height: 54px;
    padding: 12px 24px;

    gap: 10px;
    border-radius: 100px;
    border: 1px solid #4E54C8;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;

    cursor: pointer;
    transition: background .2s ease-in-out;
}

.signUp:hover,
.bars:hover,
.goProfile:hover {
    color: #fff;
    background-color: #4E54C8;
}

.signUp:hover img,
.bars:hover img,
.goProfile:hover img {
    filter: grayscale(100%) brightness(1000%);
}

.signUp span {
    color: #373737;
}

.signUp:hover span {
    color: #fff;
}

.bars {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 64px;
    height: 54px;
    padding: 12px 24px;

    border-radius: 100px;
    border: 1px solid #4E54C8;

    cursor: pointer;
    transition: background .2s ease-in-out;

    margin-left: 10px;
}

.bars img {
    width: 40px;
}

.mobileLogin {
    width: 40px;
}

.dropDownPonel {
    position: absolute;
    right: 0;
    top: 90px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 200px;
    height: 200px;

    background-color: #fff;

    -webkit-box-shadow: -4px 6px 5px -5px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: -4px 6px 5px -5px rgba(0, 0, 0, 0.49);
    box-shadow: -4px 6px 5px -5px rgba(0, 0, 0, 0.49);

    border-radius: 0 0 0 20px;
    border: 1px solid #efeff2;
}

.dropDownPonel a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    padding-left: 10px;

    width: 200px;
    height: 80px;

    display: flex;
    align-items: center;

    border-bottom: 1px solid #efeff2;

}

.dropDownPonel a:last-child {
    border-radius: 0 0 0 20px;
    border-bottom: none;

}

.dropDownPonel a:hover {
    color: #fff;
    background-color: #4E54C8;
    cursor: pointer;

}

@media(max-width: 1109px) {
    .header {
        justify-content: space-between;
        padding: 0 25px;
    }

    .signUp {
        width: 64px;
        height: 54px;
    }

    .buttons {
        display: flex;
        align-items: center;

    }
}

@media(max-width: 500px) {
    .goProfile {
        border-radius: 30px;
        padding: 6px 13px;
    }

    .goProfile img {
        width: 22px;
    }

    .bars img {
        width: 30px;
    }

    .mobileLogin {
        width: 30px;
    }

    .bars,
    .signUp {
        width: 45px;
        height: 35px;
    }

    .logoText span {
        font-size: 35px;
    }
}

@media(max-width: 500px) {
    .logoText span {
        font-size: 30px;
    }

}

@media(max-width: 350px) {
    .header {
        padding: 0 10px;
    }

}