* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: grid;
  grid-template-areas:
    'header header '
    'content content';
  grid-template-rows: 90px 1fr;
  grid-template-columns: 1fr;
  
  background-color: #fff;
  min-height: 100vh;
  width: 100%;
}

.mainContent {
  grid-area: content;
  background-color: #ffff;
}