@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.root {
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/city.gif");
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 50px;
    @media (max-width: 820px) {
    background-image: url("../assets/img/tablet.gif");
  }
  @media (max-width: 479px) {
    background-image: url("../assets/img/mobile5city.gif");
  }
}