@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.information {
   width: 100%;
   min-height: 90vh;
   overflow: hidden;
   background: white;
   background-image: url(https://art.pixilart.com/8b6698a852323f3.gif);
   background-size: 100% 100%;
}