.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 120px;

  width: 100%;
  height: 169px;

  background: #F6F7FF;
}

.logoText span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 110%;
  font-size: 44px;
}

.logoText span:nth-child(1) {
  color: #4E54C8;
}

.logoText span:nth-child(2) {
  color: #373737;
}

.allRightsReserved {
  color: #75768F;
  font-size: 18px;
  font-family: 'Source Sans 3', sans-serif;
  line-height: 130%;

  margin-top: 20px;
}

.socialNetworks {
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
}

.socialNetworks img {
  width: 24px;
  margin-left: 12px;
}

.securityPolicy {
  color: #2663FF;
  font-size: 16px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 600;
  line-height: 130%;
  text-decoration: none;
}

.securityPolicy:hover {
  text-decoration: underline;
}

@media(max-width: 900px) {
  .footer {
    justify-content: space-around;
    padding: 0;
  }
}

@media(max-width: 700px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    height: 200px;
  }

  .socialNetworks {
    justify-content: center;
    margin-bottom: 5px;
  }

  .logoText {
    text-align: center;
  }

  .logoText span {
    font-size: 30px;
  }

  .allRightsReserved {
    font-size: 15px;
    margin-top: 5px;
  }

  .securityPolicy {
    font-size: 14px;
  }
}