@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$pc: 1480px; // Пкб ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // телефоны L
$mobileSmall: 479.98px; // телефоны s

.tasks_404 {
    width: 100%;
    min-height: 100vh;
    padding: 220px 0 0 0;
    overflow: hidden;
    background: white;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    align-items: center;

    .tasks_headtitle {
        font-size: 20px;

        &:nth-child(2) {
            margin: 10px;
            font-size: 50px;
        }
    }
}

.tasks {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;

    @media (max-width: $mobileSmall) {
      padding: 15px;
    }

    .iframe {
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.555);
      z-index: 3;
      display: none;
    }

    .iframe_active {
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.555);
      z-index: 3;
      display: flex;
    }

    .timer {
      position: absolute;
      top: 100px;
      right: 30px;
      background: #3D64FF;
      color: white;
      width: 40px;
      height: 40px;
      font-size: 15px;
      border-radius: 50%;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .timer::after,
.timer::before {
  content: '';
  position: absolute;
  border: 2px solid #3D64FF;
  left: -10px;
  opacity: 0;
  right: -10px;
  top: -10px;
  bottom: -10px;
  border-radius: 50%;
  animation: pulse 2.5s linear infinite;
}

.timer::after {
  animation-delay: 1.25s;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

    .tasks_container {
        width: 100%;
        min-height: 0vh;
        background: rgb(218, 216, 216);
        border-radius: 5px;
        padding: 30px;
        margin-top: 68px;

        @media (max-width: $mobileSmall) {
          padding: 15px;
        }
    }

    .tasks_header {
          @media (max-width: $tablet) {
            flex-direction: column;
            gap: 20px;
          }

        .tasks_headtitle {
            font-size: 18px;
        }

        .tasks_classic {
            padding: 5px 10px;
            margin: 0 5px 0 5px;
            background: black;
            border-radius: 20px;
            color: white;
              @media (max-width: $mobile) {
                 padding: 2px 10px;
              }
        }

        .tasks_premium {
            padding: 5px 5px;
            margin: 0 5px 0 5px;
            background: rgb(146, 128, 26);
            border-radius: 20px;
            color: white;
        }

        .tasks_header_box {
          @media (max-width: $mobileSmall) {
            width: 100%;
            flex-direction: column;
          }

          .header_button {
            position: relative;
            width: 200px;
            height: 35px;
            font-weight: bold;
            border: none;
            background: linear-gradient(to left, rgb(60, 0, 128), rgba(0, 89, 255, 0.5));
            border-radius: 20px;
            color: white;
            font-size: 16px;
            overflow: hidden;
            transition: .5s;
            box-shadow: 0 0 5px black;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            z-index: 0;
              @media (max-width: $tablet) {
                width: 50%;
              }
              @media (max-width: $mobileSmall) {
                width: 100%;
              }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 0%;
                background: linear-gradient(to left, rgba(0, 89, 255, 0.5), rgb(60, 0, 128));
                transition: .5s;
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
                z-index: -1;
            }

            &:hover {
                color: white;
            }

            &:hover::before {
                height: 180%;
            }
          }

          .search_box {
            position: relative;
            top: -3px;
            width: 28px;
            height: 28px;
            border: solid 2px black;
            border-radius: 20px;
            margin-right: 10px;
            padding: 0 10px;
            background: white;
            cursor: pointer;
            transition: .5s;
            @media (max-width: $mobileSmall) {
              top: 0 !important;
              width: 100% !important;
              height: 35px;
            }

            .search_apear_item {
              position: absolute;
              content: '';
              bottom: -5px;
              right: -5px;
              width: 13px;
              border: solid 1px black;
              border-radius: 5px;
              transform: rotate(45deg);
              transition: .5s;
              cursor: pointer;
              @media (max-width: $mobileSmall) {
                bottom: -4px;
                right: -4px;
              }
  
            }
            .apear_item_active {
              bottom: 13px;
              right: 9px;
              &:nth-child(2) {
                animation: rotate .5s linear;
                animation-delay: .5s;
                animation-fill-mode: forwards;

                @keyframes rotate {
                  from {
                    transform: rotate(45deg);
                  }
                  to {
                    transform: rotate(-45deg);
                  }
                }
              }
            }
            @media (max-width: $mobileSmall) {
              align-self: flex-end;
              width: 35px;
              margin: 0 0 10px 0;
            }

            .search_input_active {
              display: flex !important;
            }

            .search_input {
              width: 90%;
              height: 100%;
              background: none;
              border: none;
              display: none;
              outline: none;
              @media (max-width: $mobileSmall) {
                display: flex !important;
              }
            }
          }
        }
        .search_box_active {
          width: 400px !important;
          top: 0 !important;
          height: 35px !important;
          @media (max-width: $mobileSmall) {
            width: 100% !important;
            height: 35px !important;
            margin: 0 0 10px 0;
          }
        }
    }

    .tasks_inner {
        .task {
            width: 100%;
            background: white;
            padding: 0px 10px;
            border-radius: 5px;
            margin: 10px 0;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            transition: .5s;
              @media (max-width: $tablet) {
                flex-direction: column;
                gap: 20px;
                padding: 15px;
              }

            &:hover {
                background: rgb(0, 0, 0);
                color: white;
            }

            .task_imgname {
                  @media (max-width: $mobileSmall) {
                    width: 100%;
                  }

                .task_img {
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                }

                .task_name {
                    margin-left: 6px;
                    width: 200px;
                    font-weight: bold;
                }
            }
          .task_info {
              @media (max-width: $tablet) {
                width: 90%;
              }
              @media (max-width: $mobile) {
                width: 95%;
              }
              @media (max-width: $mobileSmall) {
                flex-direction: column;
                align-items: center;
                gap: 20px;
                width: 99%;
              }

            .task_title {
                width: 87%;
                min-height: 35px;
                padding: 10px;
                border-left: solid 2px rgba(87, 85, 85, 0.8);
                border-right: solid 2px rgba(87, 85, 85, 0.8);
                border-radius: 20px;
                font-weight: bold;
                display: flex;
                align-items: center;
                  @media (max-width: $mobile) {
                    width: 75%;
                  }
                  @media (max-width: $mobileSmall) {
                    width: 100%;
                    padding: 10px;
                    min-height: 45px;
                    font-size: 16px;
                    overflow: hidden;
                  }
            }

            .task_price {
                width: 13%;
                min-height: 35px;
                border-left: solid 2px rgba(87, 85, 85, 0.8);
                border-right: solid 2px rgba(87, 85, 85, 0.8);
                border-radius: 20px;
                font-weight: bold;
                font-size: 15px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                  @media (max-width: $mobile) {
                    width: 25%;
                  }
                  @media (max-width: $mobileSmall) {
                    width: 50%;
                  }
            }
          }

            .task_buttons {
                  @media (max-width: $tablet) {
                    width: 35%;
                    gap: 15px;
                  }
                  @media (max-width: $mobile) {
                    width: 70%;
                  }
                  @media (max-width: $mobileSmall) {
                    width: 95%;
                  }

                .task_clock_icon {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                    font-size: 17px;
                    gap: 5px;
                }
            }
        }
    }

    .navigator_btn_box {

      .navigator_icon1,
      .navigator_icon2 {
        font-size: 20px;
      }

      .navigator_icon1 {
        transform: rotate(180deg);
      }
    }
}