@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.tasks_404 {
    width: 100%;
    min-height: 100vh;
    padding: 220px 0 0 0;
    overflow: hidden;
    background: white;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    align-items: center;

    .tasks_headtitle {
        font-size: 20px;

        &:nth-child(2) {
            margin: 10px;
            font-size: 50px;
        }
    }
}

.tasks {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;

    .tasks_container {
        width: 100%;
        min-height: 100vh;
        background: rgb(211, 211, 211);
        border-radius: 3px;
        padding: 30px;
    }

    .tasks_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .tasks_headtitle {
            font-size: 18px;
        }

        .tasks_classic {
            padding: 5px 10px;
            margin: 0 5px 0 5px;
            background: black;
            border-radius: 3px;
            color: white;
        }
    
        .tasks_premium {
            padding: 5px 5px;
            margin: 0 5px 0 5px;
            background: rgb(146, 128, 26);
            border-radius: 3px;
            color: white;
        }

        .header_button {
            position: relative;
            width: 200px;
            height: 35px;
            font-weight: bold;
            border: none;
            background: white;
            border-radius: 3px;
            color: black;
            font-size: 16px;
            overflow: hidden;
            transition: .5s;
            box-shadow: 0 0 5px black;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            z-index: 0;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 0%;
                background: linear-gradient(to left, rgb(60, 0, 128), rgba(0, 89, 255, 0.5));
                transition: .5s;
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
                z-index: -1;
            }

            &:hover {
                color: white;
            } 

            &:hover::before {
                height: 180%;
            }    
        }
    }

    .tasks_inner {
        .task {
            position: relative;
            top: 10px;
            width: 100%;
            height: 50px;
            background: white;
            padding: 0px 10px;
            border-radius: 3px;
            margin: 10px 0 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: .5s;

            &:hover {
                background: rgb(80, 79, 79);
                color: white;
            }

            .task_imgname {
                display: inherit;
                align-items: center;

                .task_img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                }

                .task_name {
                    margin-left: 6px;
                    width: 150px;
                }
            }

            .task_title {
                position: relative;
                width: 500px;
                height: 100%;
                padding: 0 0 0 10px;
                border-left: solid 1px black;
                border-right: solid 1px black;
                left: -0px;
                font-weight: bold;
                display: flex;
                align-items: center;
            }
            
            .task_price {
                width: 7%;
                height: 100%;
                border-left: solid 1px black;
                border-right: solid 1px black;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .task_buttons {
                width: 190px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .task_button1 {
                    position: relative;
                    width: 150px;
                    height: 30px;
                    font-weight: bold;
                    border: none;
                    background: white;
                    border-radius: 3px;
                    color: black;
                    font-size: 14px;
                    overflow: hidden;
                    transition: .5s;
                    box-shadow: 0 0 5px black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    z-index: 0;

                    &::before {        
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 0%;
                        background: linear-gradient(to left, rgb(60, 0, 128), rgba(0, 89, 255, 0.5));
                        transition: .5s;
                        border-bottom-left-radius: 50%;
                        border-bottom-right-radius: 50%;
                        z-index: -1;
                    }

                    &:hover {
                        color: white;
                    } 

                    &:hover::before {
                        height: 180%;
                    }  
                }

                .task_button2 {
                    position: relative;
                    width: 30px;
                    height: 30px;
                    font-weight: bold;
                    border: none;
                    background: white;
                    border-radius: 3px;
                    color: black;
                    font-size: 17px;
                    overflow: hidden;
                    transition: .5s;
                    box-shadow: 0 0 5px black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    z-index: 0;

                    &::before {        
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 0%;
                        background: linear-gradient(to left, rgb(60, 0, 128), rgba(0, 89, 255, 0.5));
                        transition: .5s;
                        border-bottom-left-radius: 50%;
                        border-bottom-right-radius: 50%;
                        z-index: -1;
                    }

                    &:hover {
                        color: red;
                    } 

                    &:hover::before {
                        height: 180%;
                    }  
                }
            }
        }
    }
}