@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$pc: 1480px; // Пкб ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // телефоны L
$mobileSmall: 479.98px; // телефоны s

.tasks_404 {
    width: 100%;
    min-height: 100vh;
    padding: 220px 0 0 0;
    overflow: hidden;
    background: white;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    align-items: center;

    .tasks_headtitle {
        font-size: 20px;

        &:nth-child(2) {
            margin: 10px;
            font-size: 50px;
        }
    }
}

.tasks {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;

    @media (max-width: $mobileSmall) {
      padding: 15px;
    }

    .tasks_container {
        width: 100%;
        min-height: 100vh;
        background: rgb(218, 216, 216);
        border-radius: 5px;
        padding: 30px;
        margin-top: 68px;

        @media (max-width: $mobileSmall) {
          padding: 15px;
        }
    }

    .tasks_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
          @media (max-width: $tablet) {
           flex-direction: column;
           gap: 20px;
          }

        .tasks_headtitle {
            font-size: 18px;
        }

        .tasks_classic {
            padding: 5px 10px;
            margin: 0 5px 0 5px;
            background: black;
            border-radius: 20px;
            color: white;
              @media (max-width: $mobile) {
                 padding: 2px 10px;
              }
        }

        .tasks_premium {
            padding: 5px 5px;
            margin: 0 5px 0 5px;
            background: rgb(146, 128, 26);
            border-radius: 20px;
            color: white;
        }

        .header_button {
            position: relative;
            width: 200px;
            height: 35px;
            font-weight: bold;
            border: none;
            background: linear-gradient(to left, rgb(60, 0, 128), rgba(0, 89, 255, 0.5));
            border-radius: 20px;
            color: white;
            font-size: 16px;
            overflow: hidden;
            transition: .5s;
            box-shadow: 0 0 5px black;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            z-index: 0;
              @media (max-width: $tablet) {
                width: 50%;
              }
              @media (max-width: $mobileSmall) {
                width: 75%;
              }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 0%;
                background: linear-gradient(to left, rgba(0, 89, 255, 0.5), rgb(60, 0, 128));
                transition: .5s;
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
                z-index: -1;
            }

            &:hover {
                color: white;
            }

            &:hover::before {
                height: 180%;
            }
        }
    }

    .tasks_inner {
        .task {
            width: 100%;
            background: white;
            padding: 0px 10px;
            border-radius: 10px;
            margin: 10px 0;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            transition: .5s;
              @media (max-width: $tablet) {
                flex-direction: column;
                gap: 20px;
                padding: 15px;
              }

            &:hover {
                background: rgb(0, 0, 0);
                color: white;
            }

            .task_imgname {
                display: flex;
                align-items: center;
                overflow: hidden;
                  @media (max-width: $mobileSmall) {
                    width: 100%;
                  }

                .task_img {
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                }

                .task_name {
                    margin-left: 6px;
                    width: 200px;
                    font-weight: bold;
                }
            }
          .task_info {
            display: flex;
            gap: 10px;
            width: 70%;
              @media (max-width: $tablet) {
                width: 90%;
              }
              @media (max-width: $mobile) {
                width: 95%;
              }
              @media (max-width: $mobileSmall) {
                flex-direction: column;
                align-items: center;
                gap: 20px;
                width: 99%;
              }

            .task_title {
                width: 87%;
                min-height: 35px;
                padding: 0 5px 0 5px;
                border-left: solid 2px rgba(87, 85, 85, 0.8);
                border-right: solid 2px rgba(87, 85, 85, 0.8);
                border-radius: 20px;
                font-weight: bold;
                display: flex;
                align-items: center;
                  @media (max-width: $mobile) {
                    width: 75%;
                  }
                  @media (max-width: $mobileSmall) {
                    width: 100%;
                    padding: 10px;
                    min-height: 45px;
                    font-size: 16px;
                    overflow: hidden;
                  }
            }

            .task_price {
                width: 13%;
                min-height: 35px;
                border-left: solid 2px rgba(87, 85, 85, 0.8);
                border-right: solid 2px rgba(87, 85, 85, 0.8);
                border-radius: 20px;
                font-weight: bold;
                font-size: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                  @media (max-width: $mobile) {
                    width: 25%;
                  }
                  @media (max-width: $mobileSmall) {
                    width: 50%;
                  }
            }
          }

            .task_buttons {
                width: 15%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                  @media (max-width: $tablet) {
                    width: 35%;
                    gap: 15px;
                  }
                  @media (max-width: $mobile) {
                    width: 50%;
                  }
                  @media (max-width: $mobileSmall) {
                    width: 80%;
                  }

                .task_button1 {
                    position: relative;
                    width: 100%;
                    height: 35px;
                    font-weight: bold;
                    border: none;
                    background: linear-gradient(to left, rgb(60, 0, 128), rgba(0, 89, 255, 0.5));
                    border-radius: 20px;
                    color: white;
                    font-size: 16px;
                    overflow: hidden;
                    transition: .5s;
                    box-shadow: 0 0 5px black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    z-index: 0;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 0%;
                        background: linear-gradient(to left, rgba(0, 89, 255, 0.5), rgb(60, 0, 128));
                        transition: .5s;
                        border-bottom-left-radius: 50%;
                        border-bottom-right-radius: 50%;
                        z-index: -1;
                    }

                    &:hover {
                        color: white;
                    }

                    &:hover::before {
                        height: 180%;
                    }
                }

                .task_button2 {
                    position: relative;
                    width: 20%;
                    height: 35px;
                    margin: 0 0 0 7px;
                    border: none;
                    background: linear-gradient(to left, rgb(60, 0, 128), rgba(0, 89, 255, 0.5));
                    border-radius: 10px;
                    color: white;
                    font-size: 20px;
                    overflow: hidden;
                    transition: .5s;
                    box-shadow: 0 0 5px black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 0;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 0%;
                        background: linear-gradient(to left, rgba(0, 89, 255, 0.5), rgb(60, 0, 128));
                        transition: .5s;
                        border-bottom-left-radius: 50%;
                        border-bottom-right-radius: 50%;
                        z-index: -1;
                    }

                    &:hover {
                        color: red;
                    }

                    &:hover::before {
                        height: 180%;
                    }
                }
            }
        }
    }
}