@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$pc: 1480px; // Пкб ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // телефоны L
$mobileSmall: 479.98px; // телефоны s

.ownspace {
    width: 100%;
    min-height: 89.6vh;
    font-family: 'Roboto', sans-serif;
    background: white;
    display: flex;
      @media (max-width: $tablet) {
        flex-direction: column;
      }
      @media (max-width: $mobileSmall) {
        padding: 0 0 20px 0;
      }

    .ownspace_headsection {
        position: relative;
        width: 50%;
          @media (max-width: $tablet) {
            width: 90%;
          }
          @media (max-width: $mobile) {
            width: 85%;
          }
          @media (max-width: $mobileSmall) {
            width: 75%;
          }

        &:nth-child(1) {
            padding: 30px 20px 0 20px;
            @media (max-width: $mobileSmall) {
              display: flex;
              flex-direction: column;
              padding-right: 0px;
            }
        }
        &:nth-child(2) {
            padding: 80px 110px 0 20px;
              @media (max-width: $tablet) {
                padding-right: 20px;
              }
              @media (max-width: $mobileSmall) {
                padding: 25px 20px 0 20px;
              }
        }

        .ownspace_section {
            display: flex;
            align-items: center;
             @media (max-width: $mobileSmall) {
              flex-direction: column;
              align-items: center;
            }

            .section_img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 3px solid transparent;
                background: linear-gradient(#cfcfcf,#cfcfcf)
                            padding-box,
                            linear-gradient(to left, rgb(60, 0, 128), rgba(0, 89, 255, 0.5))
                            border-box;
                box-shadow: 0 0 10px black;
                @media (max-width: $mobileSmall) {
                  position: relative;
                  left: 3%;
                }
            }

            .section_namebox {
                width: 100%;
                margin: 0 0 0 20px;
                  @media (max-width: $mobileSmall) {
                    margin: 0px;
                    width: 105%;
                    align-self: flex-start;
                  }

                .ownspace_namebox_in {
                    position: relative;
                    top: -10px;
                    margin: 15px 0 0 0;
                    font-weight: bold;

                    .section_name {
                        height: 35px;
                        width: 98%;
                        margin: 10px 0 0 10px;
                        padding: 0 0 0 10px;
                        font-size: 18px;
                        box-shadow: 0 0 5px black;
                        border-radius: 11px;
                        border: none;
                        outline: none;
                        display: flex;
                        align-items: center;
                        @media (max-width: $mobileSmall) {
                          margin: 10px 0 0 0;
                          font-size: 16px;
                        }
                    }
                }
            }

            .section_aboutbox {
                width: 100%;
                margin: 20px 0 0 0;
                font-weight: bold;
                @media (max-width: $mobileSmall) {
                  width: 105%;
                  align-self: flex-start;
                }

                .section_about {
                    width: 100%;
                    height: 320px;
                    padding: 15px 50px 0 20px;
                    font-size: 16px;
                    border-radius: 20px;
                    box-shadow: 0 0 5px black;
                }
            }
        }

        .ownspace_info {
            margin: 50px 0 0 0;
            @media (max-width: $mobileSmall) {
              margin: 30px 0 15px 0;
            }

            .info_text {
                border-bottom: dashed 1px rgba(0, 0, 0, 0.616);
                margin: 20px 0 0 0;
                padding: 0 0 20px 0;
                font-weight: bold;
                @media (max-width: $mobileSmall) {
                  width: 113%;
                }

                &:nth-child(5) {
                    border-bottom: none;
                }
            }
                .info_text_input {
                  margin: 10px 0 0 0;
                  width: 100%;
                  height: 35px;
                  font-size: 16px;
                  border: none;
                  outline: none;
                  padding: 0 10px;
                  box-shadow: 0 0 5px black;
                  border-radius: 11px;
                  @media (max-width: $mobileSmall) {
                    width: 104%;
                  }
                }
        }

        .ownspace_balance {
            width: 100%;
            height: 120px;
            box-shadow: 0 0 5px black;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media (max-width: $mobileSmall) {
              width: 113%;
              height: 150px;
              border-radius: 25px;
            }

            .balance_headtitle {
                color: black;
            }

            .balance_title {
                font-size: 30px;
                margin: 5px 0 5px 0;
                @media (max-width: $mobileSmall) {
                  margin: 10px 0 10px 0;
                }
            }

            .ownspace_buttons {
                width: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                  @media (max-width: $pc) {
                    width: 70%;
                  }
                  @media (max-width: $mobileSmall) {
                    width: 75%;
                  }

                .buttons_button {
                    position: relative;
                    width: 48%;
                    height: 40px;
                    font-weight: bold;
                    border: none;
                    background: linear-gradient(to left, rgb(60, 0, 128), rgba(0, 89, 255, 0.5));
                    border-radius: 30px;
                    color: white;
                    font-size: 16px;
                    overflow: hidden;
                    box-shadow: 0 0 5px black;
                    z-index: 0;
                      @media (max-width: $mobileSmall) {
                        font-size: 12px;
                      }

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 0%;
                        background: linear-gradient(to left, rgba(0, 89, 255, 0.5), rgb(60, 0, 128));
                        transition: .5s;
                        border-bottom-left-radius: 50%;
                        border-bottom-right-radius: 50%;
                        z-index: -1;
                    }

                    &:hover::before {
                        height: 180%;
                    }
                }
            }
        }

        .ownspace_changeinfo {
            position: relative;
            width: 100%;
            height: 40px;
            font-weight: bold;
            border: none;
            background: linear-gradient(to left, rgb(60, 0, 128), rgba(0, 89, 255, 0.5));
            border-radius: 30px;
            color: white;
            font-size: 16px;
            overflow: hidden;
            box-shadow: 0 0 5px black;
            z-index: 0;
              @media (max-width: $mobileSmall) {
                font-size: 14px;
                width: 113%;
              }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 0%;
                background: linear-gradient(to left, rgba(0, 89, 255, 0.5), rgb(60, 0, 128));
                transition: .5s;
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
                z-index: -1;
            }

            &:hover::before {
                height: 180%;
            }
        }
    }
}