@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$pc: 1480px; // Пкб ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // телефоны L
$mobileSmall: 479.98px; // телефоны s

.ownspace {
    width: 100%;
    min-height: 89.6vh;
    font-family: 'Roboto', sans-serif;
    background: white;
    display: flex;
      @media (max-width: $tablet) {
        flex-direction: column;
      }
      @media (max-width: $mobileSmall) {
        padding: 0 0 20px 0;
      }

    .ownspace_headsection {
        position: relative;
        width: 100%;
          @media (max-width: $tablet) {
            width: 90%;
          }
          @media (max-width: $mobile) {
            // width: 85%;
          }
          @media (max-width: $mobileSmall) {
            width: 83%;
          }

        &:nth-child(1) {
            padding: 80px 20px 40px 20px;
            width: 35%;
            @media (max-width: $tablet) {
              width: 92%;
            }
              @media (max-width: $mobile) {
                 padding: 80px 40px 40px 40px;
              }
            @media (max-width: $mobileSmall) {
              display: flex;
              flex-direction: column;
            }
        }
        &:nth-child(2) {
            padding: 80px 110px 40px 20px;
            width: 65%;
            @media (max-width: $tablet) {
              width: 92%;
            }
              @media (max-width: $tablet) {
                padding-right: 20px;
              }
              @media (max-width: $mobileSmall) {
                padding: 25px 30px 0 40px;
              }
        }

        .ownspace_section {
            display: flex;
            align-items: center;
              @media (max-width: $mobileSmall) {
              flex-direction: column;
              align-items: center;
            }

            .section_aboutbox {
                width: 100%;
                // margin: 20px 0 0 0;
                font-weight: bold;
                 @media (max-width: $mobile) {
                  width: 97%;
                }
                @media (max-width: $mobileSmall) {
                  // width: 105%;
                  align-self: flex-start;
                }

                .section_about {
                    width: 100%;
                    height: 700px;
                    padding: 15px 20px 40px 20px;
                    font-size: 16px;
                    border-radius: 20px;
                    box-shadow: 0 0 5px black;
                    outline: none;
                    border: none;
                    resize: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                    overflow-y: scroll;
                   @media (max-width: $tablet) {
                       padding: 15px 20px 0 20px;
                      }
                   @media (max-width: $mobileSmall) {
                       padding: 15px 20px 0 20px;
                      }
                      .about_title {
                        font-size: 25px;
                      }
                        .tasks_inner {
                          width: 100%;
                          display: flex;
                          flex-direction: column;
                          gap: 20px;
                          .task {
                              width: 100%;
                              background: white;
                              padding: 20px 10px;
                              border-radius: 10px;
                              margin: 10px 0;
                              display: flex;
                              flex-direction: column;
                              align-items: center;
                              gap: 20px;
                              transition: .5s;
                              border: 1px solid gray;
                              box-shadow: 0 0 5px black;
                                @media (max-width: $tablet) {
                                  flex-direction: column;
                                  gap: 20px;
                                  padding: 15px;
                                }

                              // &:hover {
                              //     background: rgb(0, 0, 0);
                              //     color: white;
                              //      @media (max-width: $tablet) {
                              //       background: none;
                              //       color: #000;
                              //     }
                              // }
                              .task_data {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                    @media (max-width: $mobile) {
                                      flex-direction: column;
                                      align-items: center;
                                      gap: 10px;
                                    }
                              }
                              .task_id {
                                  display: flex;
                                  align-items: center;
                                  overflow: hidden;
                                  margin-left: 6px;
                                  width: 5%;
                                  font-weight: bold;
                                    @media (max-width: $mobile) {
                                      width: 100%;
                                      justify-content: center;
                                    }
                                    @media (max-width: $mobile) {
                                     margin-left: 0px;
                                     font-size: 14px;
                                    }
                              }
                            // .task_info {
                            //   display: flex;
                            //   gap: 10px;
                            //   width: 60%;
                            //     @media (max-width: $tablet) {
                            //       width: 90%;
                            //     }
                            //     @media (max-width: $mobile) {
                            //       width: 95%;
                            //     }
                            //     @media (max-width: $mobileSmall) {
                            //       flex-direction: column;
                            //       align-items: center;
                            //       gap: 20px;
                            //       width: 99%;
                            //     }

                              .task_title {
                                  width: 35%;
                                  min-height: 35px;
                                  padding: 0 20px 0 20px;
                                  border-left: solid 2px rgba(87, 85, 85, 0.8);
                                  border-right: solid 2px rgba(87, 85, 85, 0.8);
                                  border-radius: 20px;
                                  font-weight: bold;
                                  display: flex;
                                  align-items: center;
                                  justify-content: center;
                                    @media (max-width: 1150px) {
                                      font-size: 13px;
                                    }
                                    @media (max-width: $pc) {
                                      // font-size: 8px;
                                    }
                                    @media (max-width: $mobile) {
                                      font-size: 10px;
                                    }
                                        @media (max-width: $mobile) {
                                          width: 100%;
                                          font-size: 13px;
                                        }
                              }

                              .task_price {
                                  width: 20%;
                                  min-height: 35px;
                                  border-left: solid 2px rgba(87, 85, 85, 0.8);
                                  border-right: solid 2px rgba(87, 85, 85, 0.8);
                                  border-radius: 20px;
                                  font-weight: bold;
                                  font-size: 15px;
                                  display: flex;
                                  align-items: center;
                                  justify-content: center;

                                    @media (max-width: $pc) {
                                      font-size: 13px;
                                    }
                                    @media (max-width: $mobile) {
                                      width: 100%;
                                      font-size: 13px;
                                    }
                                    @media (max-width: $mobileSmall) {

                                    }
                              }
                            // }

                              .task_buttons {
                                  width: 100%;
                                  display: flex;
                                  align-items: center;
                                  justify-content: space-between;
                                  gap: 10px;
                                    @media (max-width: $tablet) {
                                      gap: 7px;
                                    }
                                    @media (max-width: $mobile) {
                                      flex-direction: column;
                                      align-items: center;
                                      gap: 15px;
                                    }
                                    @media (max-width: $mobileSmall) {

                                    }
                                  .task_buttons_tasksBlock {
                                    position: relative;
                                    width: 23%;
                                    height: 40px;
                                    @media (max-width: $mobile) {
                                      width: 100%;
                                    }

                                    .task_button2 {
                                      width: 100%;
                                      height: 100%;
                                      font-weight: bold;
                                      border: none;
                                      background: linear-gradient(to left, rgb(60, 0, 128), rgba(0, 89, 255, 0.5));
                                      border-radius: 20px;
                                      color: white;
                                      font-size: 16px;
                                      overflow: hidden;
                                      transition: .5s;
                                      box-shadow: 0 0 5px black;
                                      display: flex;
                                      justify-content: center;
                                      align-items: center;
                                      text-decoration: none;
                                      z-index: 0;
                                      cursor: pointer;
                                      @media (max-width: 1150px) {
                                        font-size: 13px;
                                      }
                                        @media (max-width: $mobileSmall) {
                                        }

                                      &::before {
                                          content: '';
                                          position: absolute;
                                          top: 0;
                                          left: 0;
                                          width: 100%;
                                          height: 0%;
                                          background: linear-gradient(to left, rgba(0, 89, 255, 0.5), rgb(60, 0, 128));
                                          transition: .5s;
                                          border-bottom-left-radius: 50%;
                                          border-bottom-right-radius: 50%;
                                          z-index: -1;
                                      }

                                      &:hover {
                                          color: white;
                                      }

                                      &:hover::before {
                                          height: 180%;
                                      }
                                  }
                                  .buttons_popap_tasks {
                                    position: absolute;
                                    // background-color: rgba(54, 53, 66, 0.8);
                                    background: white;
                                    border-radius: 5px;
                                    box-shadow: 0 0 5px black;
                                    width: 150%;
                                    height: 120px;
                                    top: 110%;
                                    left: -30px;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 20px;
                                    @media (max-width: 640px) {
                                      left: -20px;
                                    }
                                    @media (max-width: $mobileSmall) {
                                      z-index: 5;
                                      width: 100%;
                                      left: 0;
                                    }

                                    .buttons_popap_input_tasks {
                                      display: flex;
                                      width: 80%;
                                      height: 35px;
                                      font-size: 14px;
                                      border: none;
                                      outline: none;
                                      padding: 0 10px;
                                      box-shadow: 0 0 5px black;
                                      border-radius: 11px;
                                    }
                                    @media (max-width: $pc) {
                                      ::-webkit-input-placeholder { font-size: 10px; color:#f00;}
                                      ::-moz-placeholder { font-size: 10px; color:#f00;}
                                      :-ms-input-placeholder { font-size: 10px; color:#f00;}
                                      :-moz-placeholder { font-size: 10px; color:#f00;}
                                    }
                                    @media (max-width: 1170px) {
                                      ::-webkit-input-placeholder { font-size: 7px; color:#f00;}
                                      ::-moz-placeholder { font-size: 7px; color:#f00;}
                                      :-ms-input-placeholder { font-size: 7px; color:#f00;}
                                      :-moz-placeholder { font-size: 7px; color:#f00;}
                                    }
                                    @media (max-width: $tablet) {
                                      ::-webkit-input-placeholder { font-size: 17px; color:#f00;}
                                      ::-moz-placeholder { font-size: 17px; color:#f00;}
                                      :-ms-input-placeholder { font-size: 17px; color:#f00;}
                                      :-moz-placeholder { font-size: 17px; color:#f00;}
                                    }
                                    @media (max-width: $mobile) {
                                      ::-webkit-input-placeholder { font-size: 7px; color:#f00;}
                                      ::-moz-placeholder { font-size: 7px; color:#f00;}
                                      :-ms-input-placeholder { font-size: 7px; color:#f00;}
                                      :-moz-placeholder { font-size: 7px; color:#f00;}
                                    }
                                    @media (max-width: $mobileSmall) {
                                      ::-webkit-input-placeholder { font-size: 10px; color:#f00;}
                                      ::-moz-placeholder { font-size: 10px; color:#f00;}
                                      :-ms-input-placeholder { font-size: 10px; color:#f00;}
                                      :-moz-placeholder { font-size: 10px; color:#f00;}
                                    }

                                    .buttons_popap_button_tasks {
                                      display: flex;
                                      font-weight: bold;
                                      padding: 6px 10px;
                                      border: none;
                                      background: linear-gradient(to left, rgb(60, 0, 128), rgba(0, 89, 255, 0.5));
                                      border-radius: 30px;
                                      color: white;
                                      font-size: 12px;
                                      overflow: hidden;
                                      box-shadow: 0 0 5px black;
                                      @media (max-width: $pc) {
                                        font-size: 9px;
                                      }
                                      @media (max-width: $mobileSmall) {
                                        padding: 6px 12px;
                                      }
                                    }
                                  }
                                  }
                                  .task_button1 {
                                      width: 23%;
                                      height: 40px;
                                      font-weight: bold;
                                      border: none;
                                      background: linear-gradient(to left, rgb(60, 0, 128), rgba(0, 89, 255, 0.5));
                                      border-radius: 20px;
                                      color: white;
                                      font-size: 16px;
                                      overflow: hidden;
                                      transition: .5s;
                                      box-shadow: 0 0 5px black;
                                      display: flex;
                                      justify-content: center;
                                      align-items: center;
                                      text-decoration: none;
                                      z-index: 0;
                                      cursor: pointer;
                                      @media (max-width: 1150px) {
                                        font-size: 13px;
                                      }
                                      @media (max-width: $mobile) {
                                        width: 100%;
                                        font-size: 13px;
                                      }
                                        @media (max-width: $mobileSmall) {

                                        }

                                      &::before {
                                          content: '';
                                          position: absolute;
                                          top: 0;
                                          left: 0;
                                          width: 100%;
                                          height: 0%;
                                          background: linear-gradient(to left, rgba(0, 89, 255, 0.5), rgb(60, 0, 128));
                                          transition: .5s;
                                          border-bottom-left-radius: 50%;
                                          border-bottom-right-radius: 50%;
                                          z-index: -1;
                                      }

                                      // &:hover {
                                      //     color: white;
                                      // }

                                      // &:hover::before {
                                      //     height: 180%;
                                      // }
                                  }
                              }
                          }
    }
                }
            }
        }

        .ownspace_info {
            margin: 50px 0 0 0;
            @media (max-width: $mobileSmall) {
              margin: 30px 0 15px 0;
            }

            .info_text {
                border-bottom: dashed 1px rgba(0, 0, 0, 0.616);
                margin: 20px 0 0 0;
                padding: 0 0 20px 0;
                font-weight: bold;
                @media (max-width: $mobileSmall) {
                  // width: 113%;
                }

                // &:nth-child(5) {
                //     border-bottom: none;
                // }
            }
                .info_text_input {
                  margin: 10px 0 0 0;
                  width: 100%;
                  height: 35px;
                  font-size: 16px;
                  border: none;
                  outline: none;
                  padding: 0 10px;
                  box-shadow: 0 0 5px black;
                  border-radius: 11px;

                  @media (max-width: $mobileSmall) {
                    width: 104%;
                  }
                }
        }

        .ownspace_balance {
            width: 100%;
            height: 140px;
            box-shadow: 0 0 5px black;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media (max-width: $mobileSmall) {
              height: 150px;
              border-radius: 25px;
            }

            .balance_headtitle {
                color: black;
            }

            .balance_title {
                font-size: 30px;
                margin: 5px 0 5px 0;
                @media (max-width: $mobileSmall) {
                  margin: 10px 0 10px 0;
                }
            }

            .ownspace_buttons {
              position: relative;
                width: 76%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                  @media (max-width: $pc) {
                    width: 70%;
                  }
                  @media (max-width: $mobileSmall) {
                    width: 75%;
                  }

                .buttons_button {
                    position: relative;
                    width: 48%;
                    height: 40px;
                    font-weight: bold;
                    border: none;
                    background: linear-gradient(to left, rgb(60, 0, 128), rgba(0, 89, 255, 0.5));
                    border-radius: 30px;
                    color: white;
                    font-size: 16px;
                    overflow: hidden;
                    box-shadow: 0 0 5px black;
                    z-index: 0;
                    @media (max-width: 1150px) {
                      font-size: 13px;
                    }
                      @media (max-width: $mobileSmall) {
                      }

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 0%;
                        background: linear-gradient(to left, rgba(0, 89, 255, 0.5), rgb(60, 0, 128));
                        transition: .5s;
                        border-bottom-left-radius: 50%;
                        border-bottom-right-radius: 50%;
                        z-index: -1;
                    }

                    &:hover::before {
                        height: 180%;
                    }
                }
                .buttons_popap {
                  position: absolute;
                  background-color: rgba(54, 53, 66, 0.4);
                  border-radius: 5px;
                  box-shadow: 0 0 5px black;
                  width: 48%;
                  height: 150px;
                  top: 100%;
                  left: 0;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  gap: 20px;

                  .buttons_popap_input {
                    display: flex;
                    width: 80%;
                    height: 35px;
                    font-size: 14px;
                    border: none;
                    outline: none;
                    padding: 0 10px;
                    box-shadow: 0 0 5px black;
                    border-radius: 11px;
                  }
                  @media (max-width: $pc) {
                    ::-webkit-input-placeholder { font-size: 13px; color:#f00;}
                    ::-moz-placeholder { font-size: 13px; color:#f00;}
                    :-ms-input-placeholder { font-size: 13px; color:#f00;}
                    :-moz-placeholder { font-size: 13px; color:#f00;}
                  }
                  @media (max-width: 1100px) {
                    ::-webkit-input-placeholder { font-size: 11px; color:#f00;}
                    ::-moz-placeholder { font-size: 11px; color:#f00;}
                    :-ms-input-placeholder { font-size: 11px; color:#f00;}
                    :-moz-placeholder { font-size: 11px; color:#f00;}
                  }
                  @media (max-width: $tablet) {
                    ::-webkit-input-placeholder { font-size: 17px; color:#f00;}
                    ::-moz-placeholder { font-size: 17px; color:#f00;}
                    :-ms-input-placeholder { font-size: 17px; color:#f00;}
                    :-moz-placeholder { font-size: 17px; color:#f00;}
                  }
                  @media (max-width: $mobile) {
                    ::-webkit-input-placeholder { font-size: 11px; color:#f00;}
                    ::-moz-placeholder { font-size: 11px; color:#f00;}
                    :-ms-input-placeholder { font-size: 11px; color:#f00;}
                    :-moz-placeholder { font-size: 11px; color:#f00;}
                  }
                  @media (max-width: $mobileSmall) {
                    ::-webkit-input-placeholder { font-size: 9px; color:#f00;}
                    ::-moz-placeholder { font-size: 9px; color:#f00;}
                    :-ms-input-placeholder { font-size: 9px; color:#f00;}
                    :-moz-placeholder { font-size: 9px; color:#f00;}
                  }
                  @media (max-width: 400px) {
                    ::-webkit-input-placeholder { font-size: 6px; color:#f00;}
                    ::-moz-placeholder { font-size: 6px; color:#f00;}
                    :-ms-input-placeholder { font-size: 6px; color:#f00;}
                    :-moz-placeholder { font-size: 6px; color:#f00;}
                  }

                  .buttons_popap_button {
                    display: flex;
                    font-weight: bold;
                    padding: 6px 15.5px;
                    border: none;
                    background: linear-gradient(to left, rgb(60, 0, 128), rgba(0, 89, 255, 0.5));
                    border-radius: 30px;
                    color: white;
                    font-size: 15px;
                    overflow: hidden;
                    box-shadow: 0 0 5px black;
                    @media (max-width: $mobileSmall) {
                      font-size: 9px;
                      padding: 6px 12px;
                    }
                  }
                }
                .buttons_popap_right {
                  position: absolute;
                  background-color: rgba(54, 53, 66, 0.4);
                  border-radius: 5px;
                  box-shadow: 0 0 5px black;
                  width: 48%;
                  height: 150px;
                  top: 100%;
                  right: 0;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  gap: 20px;

                  .buttons_popap_right_input {
                    display: flex;
                    width: 80%;
                    height: 35px;
                    font-size: 14px;
                    border: none;
                    outline: none;
                    padding: 0 10px;
                    box-shadow: 0 0 5px black;
                    border-radius: 11px;
                  }
                  @media (max-width: $pc) {
                    ::-webkit-input-placeholder { font-size: 13px; color:#f00;}
                    ::-moz-placeholder { font-size: 13px; color:#f00;}
                    :-ms-input-placeholder { font-size: 13px; color:#f00;}
                    :-moz-placeholder { font-size: 13px; color:#f00;}
                  }
                  @media (max-width: 1100px) {
                    ::-webkit-input-placeholder { font-size: 11px; color:#f00;}
                    ::-moz-placeholder { font-size: 11px; color:#f00;}
                    :-ms-input-placeholder { font-size: 11px; color:#f00;}
                    :-moz-placeholder { font-size: 11px; color:#f00;}
                  }
                  @media (max-width: $tablet) {
                    ::-webkit-input-placeholder { font-size: 17px; color:#f00;}
                    ::-moz-placeholder { font-size: 17px; color:#f00;}
                    :-ms-input-placeholder { font-size: 17px; color:#f00;}
                    :-moz-placeholder { font-size: 17px; color:#f00;}
                  }
                  @media (max-width: $mobile) {
                    ::-webkit-input-placeholder { font-size: 11px; color:#f00;}
                    ::-moz-placeholder { font-size: 11px; color:#f00;}
                    :-ms-input-placeholder { font-size: 11px; color:#f00;}
                    :-moz-placeholder { font-size: 11px; color:#f00;}
                  }
                  @media (max-width: $mobileSmall) {
                    ::-webkit-input-placeholder { font-size: 9px; color:#f00;}
                    ::-moz-placeholder { font-size: 9px; color:#f00;}
                    :-ms-input-placeholder { font-size: 9px; color:#f00;}
                    :-moz-placeholder { font-size: 9px; color:#f00;}
                  }
                  @media (max-width: 400px) {
                    ::-webkit-input-placeholder { font-size: 6px; color:#f00;}
                    ::-moz-placeholder { font-size: 6px; color:#f00;}
                    :-ms-input-placeholder { font-size: 6px; color:#f00;}
                    :-moz-placeholder { font-size: 6px; color:#f00;}
                  }

                  .buttons_popap_right_button {
                    display: flex;
                    font-weight: bold;
                    padding: 6px 15.5px;
                    border: none;
                    background: linear-gradient(to left, rgb(60, 0, 128), rgba(0, 89, 255, 0.5));
                    border-radius: 30px;
                    color: white;
                    font-size: 15px;
                    overflow: hidden;
                    box-shadow: 0 0 5px black;
                    @media (max-width: $mobileSmall) {
                      font-size: 9px;
                      padding: 6px 12px;
                    }
                  }
                }
              }
            }

        .ownspace_changeinfo {
            position: relative;
            width: 100%;
            height: 40px;
            font-weight: bold;
            border: none;
            background: linear-gradient(to left, rgb(60, 0, 128), rgba(0, 89, 255, 0.5));
            border-radius: 30px;
            color: white;
            font-size: 16px;
            overflow: hidden;
            box-shadow: 0 0 5px black;
            z-index: 0;
              @media (max-width: $mobileSmall) {
                font-size: 14px;
                width: 113%;
              }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 0%;
                background: linear-gradient(to left, rgba(0, 89, 255, 0.5), rgb(60, 0, 128));
                transition: .5s;
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
                z-index: -1;
            }

            &:hover::before {
                height: 180%;
            }
        }
    }
}