@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.add_task {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: white;
    font-family: 'Roboto', sans-serif;

    .add_task__form {
        padding: 0 80px;
    }
}